*,
*::before,
*::after  {
	box-sizing:border-box;
}

/*custom setting*/

:root{
	--ff-primary: arial, sans-serif;
	--ff-secondary: Heebo, sans-serif;
	--ff-accent: arial, Heebo;

	--bg-light: white;


}


body,
h1,
h2,
h3,
h4,
p,
figure,
blockqoute,
d1,
dd {
	margin: 0,
}

h1,
h2,
h3,
h4 {
	font-family: var(--ff-secondary);
}

/*general setting*/

html {
	scroll-behavior: smooth;
}

body{
	line-height: 0 ;
	margin: 0;
	background: var(--bg-light);
	font-size: 1rem;
	padding: .4rem 0;

}

img,
picture {
	max-width: 100%;
	display: block;
	
}

.container{
	max-width:100rem;
	margin-inline:auto;
	padding-inline:2rem;
}
/*general setting*/

.product__grid {
	display: grid;
	gap:.125rem;
	grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
}

.card{
	aspect-ratio: 1/ 1.75;
    border: 1px solid white;
	
}


.card__img{
	width: 100%;
	aspect-ratio: 1/ 1.5;
	object-fit: cover;

}

.stacked{
	display:grid;
}

.stacked >*{
	grid-column: 1/2;
	grid-row: 1/2;
}
.card__content{
	z-index: 10;
}

.card__content{
	background:white;
	align-self: end;
	margin: 1rem .3rem;
	padding-inline:.5rem 1rem;
	box-shadow: 0 .25rem 1rem rgba(0 0 0 /.5);
}

.card__title{
	font-size: 1.5rem;
	line-height: ;
	color: firebrick;
}

.card__price{
	font-size: 1.75rem;
}

@media (min-width:50em) {
    .card.featured{
		grid-column: span 2;
		grid-row: span 2;
	}

	.card.featured .card__img{
		aspect-ratio: 1/1.6;
	}

	.card.featured .card__title{
		font-size: 1.75rem;
	}

}



/*https://www.youtube.com/watch?v=sKFW3wek21Q&list=PLxyPHYnSCW5FhK0iOMTPMKGTj4kwR5oRz&index=2&t=369s